*{
	box-sizing: border-box;
}

/*header{
	background-color: #000000;
	padding: 30px;
	text-align: center;
	font-size: 50px;
	color: white;
}*/

@font-face{
	font-family: AGENCYR;
	src: url('fonts/AGENCYR.ttf');
	font-weight: normal;
}

body {
	width: 100%;
	height: 100%;
	background-color: #FFD1C3;
}

.header{
	width: 100%;
	text-align: center;
	color: white;
	background: #4b5696;
}

.header h2{
	font-size: 30px;
}

.topnav {
	overflow: hidden;
	background-color: #85c55f;
	display: grid;
	grid-template-columns: repeat(6, 150px);
	justify-content: center;
}

.topnav a{
	color: #000000;
	text-align: center;
	width: 25%;
	padding: 14px 16px;
	text-decoration: none;
}

.contentHeader {
	display: flex;
}

.contentHeader b{
	width: 100%;
	text-align: center;
	font-size: 50px;
	color: #4c9c85;
}

.topnav:after {
  clear: both;
  display: table;
}

.container{
	height: 100%;
	background: #FFD1C3;
	display: flex;
	justify-content: center;
	margin-left: 100px;
	margin-right: 100px;
}

.mainContent{
	width: 1200px;
	height: 600px;
}
.rightSidebar{
	padding: 10px;
	width: 500px;
	height: 100%;
	justify-content: center;
}

/*img{
	width:100%;
	height: auto;
}*/

.title{
	width: 50%;
	font-size: 30px;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.image{
	padding: 10px;
}

.btn-grid {
	display: grid;
	width: 50%;
	grid-template-columns: repeat(3, auto);
	grid-gap: 10px;
	padding: 20px;
}

.btn {
	background-color: #525252;
	border:5px solid #000000;
	border-radius: 5px; /*rounded button?*/
	padding: 5px 5px;
	font-size: 20px;
	color: white;
}

.btn:hover{
	border-color: #FF0000;
}

.footer{
	padding: 20px;
	bottom: 0;
	position: fixed;
	text-align: center;
	background: #939393;
	width: 100%
}

.next{
	width: 100px;
	height: 40px;
	align-self: flex-end;
}

.subContent {
  float: right;
  display:flex;
  justify-content: center;
  align-items: center;
  width: 530px;
  padding: 10px;
}

@media screen and (max-width: 1200px){
	.subContent {
		width: 100%;
	}
	.rightSidebar{
		width: 0%;
	}
	.mainContent{
		margin-bottom: 100px;
	}
	body{
		margin-bottom: 100px;
	}
}

/* Clear floats after the columns */
.mainContent:after {
  content: "";
  display: table;
  clear: both;
}